@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comfortaa", cursive;
  background-color: #faf3dd;
}

h1 {
  color: #ffa69e;
  font-size: 2.7rem;
  text-align: center;
  margin: 30px 0;
}
.container {
  width: 400px;
  height: 500px;
  background-color: #ffa69e;
  padding: 20px 0 0 15px;
  color: #e5e5e5;
  margin: 70px auto;
}

.screen {
  width: 360px;
  height: 100px;
  border: 2px solid #faf3dd;
  margin-bottom: 15px;
  background-color: #e5e5e5;
  color: #ffa69e;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.screen p{
  font-size: 2.5rem;
}

.numbers{
  padding-top: 5px;
}

/* .numbers:nth-child(last) {
  padding-right: 5px;
} */

.num--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.first-line,
.second-line,
.third-line,
.fourth-line,
.fifth-line {
  display: flex;
  width: 360px;
  height: 60px;
  gap: 15px;
}

.first-line div,
.second-line div,
.third-line div,
.fourth-line div,
.fifth-line div {
  width: 80px;
  border: 2px solid #faf3dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

div p {
  font-size: 2rem;
}
